{% load static %}
{% load hotel_info %}
<!DOCTYPE html>
<html lang="en"> 
    <head>
        <!-- Title -->
        <title>{% block title %}{% endblock %}</title>

        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'frontEnd/assets/favicon.png' %}">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap" rel="stylesheet">

        <!-- CSS Implementing Plugins -->
        <link href="{% static 'frontEnd/assets/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/css/font-mytravel.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/vendor/custombox/dist/custombox.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/vendor/animate.css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/vendor/flatpickr/dist/flatpickr.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/vendor/slick-carousel/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/vendor/dzsparallaxer/dzsparallaxer.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/vendor/ion-rangeslider/css/ion.rangeSlider.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/vendor/font-awesome/css/fontawesome-all.min.css' %}">
        <link href="{% static 'frontEnd/assets/vendor/font-awesome/webfonts/fa-brands-400.woff2' %}">
        <link href="{% static 'frontEnd/assets/vendor/font-awesome/webfonts/fa-solid-900.woff2' %}">
        <!-- iziToast -->
        <link rel="stylesheet" href="{% static 'frontEnd/assets/izitoast/iziToast.min.css' %}">
        <!-- CSS MyTravel Template -->
        <link rel="stylesheet" href="{% static 'frontEnd/assets/css/theme.css' %}">
        <link rel="stylesheet" href="{% static 'frontEnd/assets/customcss/global.css' %}">

        {% block custom_css %}{% endblock %}
    </head>
    <body>
        <!-- ========== HEADER ========== -->
        {% include 'frontEnd/html/includes/header.html' %}
        <!-- ========== End HEADER ========== -->

        <!-- ========== MAIN CONTENT ========== -->
        <main id="content">
            {% block main_content %}{% endblock %}
        </main>
        <!-- ========== END MAIN CONTENT ========== -->

        <!-- ========== FOOTER ========== -->
        {% include 'frontEnd/html/includes/footer.html' %}
        <!-- ========== End FOOTER ========== -->

        <!-- Page Preloader -->
        <div id="jsPreloader" class="page-preloader">
            <div class="page-preloader__content-centered">
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <!-- End Page Preloader -->

        <!-- Go to Top -->
        <a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
            <i class="fas fa-arrow-up u-go-to-modern__inner"></i>
        </a>
        <!-- End Go to Top -->

        <!-- JS Global Compulsory -->
        <script src="{% static 'frontEnd/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'frontEnd/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'frontEnd/assets/vendor/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'frontEnd/assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

        <!-- JS Implementing Plugins -->
        <script src="{% static 'frontEnd/assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
        <script src="{% static 'frontEnd/assets/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
        <script src="{% static 'frontEnd/assets/vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
        <script src="{% static 'frontEnd/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'frontEnd/assets/vendor/slick-carousel/slick/slick.js' %}"></script>
        <script src="{% static 'frontEnd/assets/vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>

        <!-- JS MyTravel -->
        <script src="{% static 'frontEnd/assets/js/hs.core.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.header.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.unfold.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.validation.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.show-animation.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.range-datepicker.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.selectpicker.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.range-slider.js' %}"></script>
        <script src="{% static 'frontEnd/assets/vendor/custombox/dist/custombox.min.js' %}"></script>
        <script src="{% static 'frontEnd/assets/vendor/custombox/dist/custombox.legacy.min.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.go-to.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.slick-carousel.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.quantity-counter.js' %}"></script>
        <script src="{% static 'frontEnd/assets/js/components/hs.modal-window.js' %}"></script>

        <!-- izitoast -->
        <script src="{% static 'frontEnd/assets/izitoast/iziToast.min.js' %}"></script>

        <!-- JS Plugins Init. -->
        <script>
            $(window).on('load', function () {
                // initialization of HSMegaMenu component
                $('.js-mega-menu').HSMegaMenu({
                    event: 'hover',
                    pageContainer: $('.container'),
                    breakpoint: 1199.98,
                    hideTimeOut: 0
                });

                // Page preloader
                setTimeout(function() {
                  $('#jsPreloader').fadeOut(500)
                }, 800);
            });

            
            $(document).on('ready', function () {
                // initialization of header
                $.HSCore.components.HSHeader.init($('#header'));

                // initialization of google map
                function initMap() {
                    $.HSCore.components.HSGMap.init('.js-g-map');
                }

                // initialization of autonomous popups
                $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-modal-window', {
                    autonomous: true
                });
                $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-modal-window-facilities', {
                    autonomous: true
                });
                $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-modal-window-room-deals', {
                    autonomous: true
                });

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of datepicker
                $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');

                // initialization of forms
                $.HSCore.components.HSRangeSlider.init('.js-range-slider');

                // initialization of malihu scrollbar
                // $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

                // initialization of select
                $.HSCore.components.HSSelectPicker.init('.js-select');

                // initialization of quantity counter
                $.HSCore.components.HSQantityCounter.init('.js-quantity');

                // initialization of slick carousel
                $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

                // initialization of go to
                $.HSCore.components.HSGoTo.init('.js-go-to');
            });

        </script>
        <script type="text/javascript">
            const currentLocation = location.href;
            const menuItem = document.querySelectorAll('.u-header__nav-link');
            const menuLength = menuItem.length;
            for(let i = 0; i < menuLength; i++){
                if(menuItem[i].href === currentLocation){
                    menuItem[i].className = "nav-link u-header__nav-link u-header__nav-link-border activeClass";
                }
            }
        </script>

        {% block custom_js %}{% endblock %}
    </body>
</html>
