{% extends 'backEnd/admin_layouts.html' %}
{% load static %}

{% block title %}Porzotok || Offer Maximum Amount{% endblock  %}

{% block custom_css %}
    <!-- scrollspyNav css -->
    <link rel="stylesheet" type="text/css" href="{% static 'backEnd/assets/css/scrollspyNav.css' %}">
    <!-- breadcrumb css -->
    <link rel="stylesheet" type="text/css" href="{% static 'backEnd/assets/css/elements/miscellaneous.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backEnd/assets/css/elements/breadcrumb.css' %}">
    <!-- data table -->
    <link rel="stylesheet" type="text/css" href="{% static 'backEnd/plugins/table/datatable/datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backEnd/plugins/table/datatable/dt-global_style.css' %}">
    <!-- toast -->
    <link href="{% static 'backEnd/plugins/notification/snackbar/snackbar.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block main_content %}

<div class="row mt-2 ml-2">
    <div class="col-12">
        <nav class="breadcrumb-two" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'webapp:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0);">Offer Maximum Amounts</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="javascript:void(0);">Offer Maximum Amount</a></li>
            </ol>
        </nav>
    </div>
</div>


<!-- table start -->
<div id="app" class="layout-px-spacing">

    <div class="row layout-top-spacing">

        <!-- add form start -->
        <div class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Add Offer Maximum Amount</h4>
                        </div>   
                    </div>
                </div>
                <div class="widget-content widget-content-area">

                    <form @submit.prevent="addOfferType">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="offerMaxAmount">Offer Maximum Amount</label>
                                <input type="number" class="form-control" id="offerMaxAmount" v-model="max_amount" placeholder="Enter Offer Maximum Amount" required="">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="offerMinAmount">Offer Minimum Amount</label>
                                <input type="number" class="form-control" id="offerMinAmount" v-model="min_amount" placeholder="Enter Offer Minimum Amount" required="">
                            </div>
                        </div>
                      <button type="submit" class="btn btn-primary mt-3">Add Offer Max Amount</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- add form end -->
    
        <!-- table start -->
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <h4 class="d-inline">Offer Maximum Amount List</h4>
  
            <div class="widget-content widget-content-area br-6 mt-4">
                <div class="table-responsive mb-4 mt-4">
                    <table id="dataTableContent" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 20% !important">#</th>
                                <th class="text-center">Offer Maximum Amount</th>
                                <th class="text-center">Offer Minimum Amount</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr v-for="maxAmount in offerMaxAmounts" :key="maxAmount.offer_max_amount_id">
                                <td>${ maxAmount.offer_max_amount_id }</td>
                                <td class="text-center">TK. ${ maxAmount.max_amount }</td>
                                <td class="text-center">TK. ${ maxAmount.min_amount }</td>
                                <td class="text-center">
                                    <a href="javascript:void(0);" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="Edit" data-original-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>
                                    &nbsp;
                                    <a href="javascript:void(0);" class="bs-tooltip" data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash p-1 br-6 mb-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
                                </td>
                            </tr>

                            
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
        <!-- table end -->

    </div>
    <div id="dismissBtn" v-if="error_bool===true" class="snackbar-container  snackbar-pos top-right" style="width: auto; background: rgb(59, 63, 92); opacity: 1;">
        <p style="margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; font-weight: 300; line-height: 1em;">${msg}</p>
        <button class="action" style="color: rgb(37, 213, 228);">Dismiss</button>
    </div>
    <div v-else="error_bool===false"></div>
</div>
<!-- table end -->
{% endblock %}

{% block custom_js %}
    <script src="{% static 'backEnd/plugins/highlight/highlight.pack.js' %}"></script>
    <!-- data table script -->
    <script src="{% static 'backEnd/plugins/table/datatable/datatables.js' %}"></script>
    <script>
        $('#dataTableContent').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 15, 25, 50],
            "pageLength": 10 
        });
        $('.top-right').click(function() {
            Snackbar.show({
                text: 'Example notification text.',
                pos: 'top-right'
            });
        });
        // hide message
        // $(document).on('click', '#dismissBtn', function(){

        //     $(this).hide(); 
        // });

        // function hideMsg(){
        //     setTimeout(function(){ 
        //         this.error = false; 
        //         console.log(this.error); 
        //     }, 3000);
        // }

    </script>
    <!-- vue js scripts start -->
    <script type="text/javascript">

        new Vue({
            el: '#app',
            delimiters: ['${','}'],
            data: {
                max_amount: null,
                min_amount: null,
                offerMaxAmounts: [],
                msg : '',
                error_bool: false,
                update_val : '',
                click_event : false,
                update_bool: false,
            },
            mounted: function() {
                this.getOfferMaxAmounts();
            },
            methods: {
                addOfferType: function() {
                    let requestedData = {'max_amount': `${this.max_amount}`, 'min_amount': `${this.min_amount}`};
                    let js = JSON.stringify(requestedData);

                    this.$http.post(`/api/offer-max-amount/`, js)
                        .then((resp) => {
                            if (resp.status == 201 || resp.status == 200) {
                                this.max_amount = '';
                                this.min_amount = '';
                                this.error_bool = true
                                this.msg = resp.data.message;
                                this.getOfferMaxAmounts();
                            }
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                },
                getOfferMaxAmounts: function() {
                    this.$http.get(`/api/offer-max-amount/`)
                        .then((resp) => {
                            this.offerMaxAmounts = resp.data.data;
                        })
                        .catch((err) => {
                            console.log(err);
                        })
                }
            },

        });
    </script>
    <!-- vue js scripts end -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'backEnd/assets/js/scrollspyNav.js' %}"></script>
    <!-- toastr -->
    <script src="{% static 'backEnd/plugins/notification/snackbar/snackbar.min.js' %}"></script>
    <!-- END PAGE LEVEL PLUGINS -->

    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <script src="{% static 'backEnd/assets/js/components/notification/custom-snackbar.js' %}"></script>
    <!--  END CUSTOM SCRIPTS FILE  -->

{% endblock %}